<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <connectionStrings>
    <add name="dim_dim_facilConnectionString" connectionString="server=127.0.0.1;user id=root;password=lucas4max;persistsecurityinfo=True;database=dim_dim_facil"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>

</configuration>
